.nationalContainer {
    height: 100%;
    color: #fff;

    .l_box {
        position: relative;
        display: inline-block;
        width: 64.5%;
        height: 100%;

        .monthPicker {
            position: absolute;
            top: 10px;
            left: 65px;
            z-index: 100;
        }
    }

    .r_box {
        float: right;
        width: 35.5%;
        height: 100%;
    }
}
