@import '../../../../assets/Colors/colors.scss';

.container {
    color: #fff;
    padding: 1.5% 6%;

    .topPartContainer {
        .topPartSubOne {
            display: flex;
            justify-content: space-between;

            >div {
                display: flex;
            }

            .selectContainer {
                >span {
                    margin-right: 10px;
                }

                margin-left: 20px;
            }

            .selectContainer:nth-child(1) {
                margin-left: 0;
            }
        }

        .topPartSubSecond {
            display: flex;
            align-items: center;
            margin: 15px 0;

            >span {
                width: 78px;
            }
        }

        .topPartSubThird {
            display: flex;
            justify-content: space-between;

            >div {
                display: flex;
            }

            .addResult {
                span {
                    color: $primaryBlue;
                    border-bottom: 1px solid #698aa0;
                    width: 180px;
                    font-weight: bold;
                }
            }

            .buttonGroupContainer {
                >div:not(:last-child) {
                    margin-right: 20px;
                }
            }
        }
    }

    .BottomPartContainer {
        .paginationContainer {
            display: flex;
            flex-direction: row-reverse;
            margin-top: 30px;
        }
    }

    .itemContainer {
        margin-top: 20px;
        display: flex;

        >div:first-child {
            margin: 8px auto;
        }

        >div:nth-child(2) {
            width: 100%;
            overflow: hidden;
            margin: 0 8px;
        }

        .itemContentContainer {
            color: #ccc;

            >div:first-child {
                height: 32px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 8px;

                >div>span {
                    margin-right: 10px;
                    font-weight: bold;
                    color: #fff;
                    > span {
                        color: $iconBlue;
                    }
                }
            }
        }

        .itemTitleSpan {
            display: flex;
            align-items: center;

            >span {
                max-width: 800px;
                overflow: hidden;
                display: inline-block;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }

        .itemTextContainer {
            height: 20px;
            overflow: hidden;
            > span > span {
                color: $iconBlue;
            }
        }

        >div:last-child {
            min-width: 70px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $primaryBlue;
            padding: 0 12px;

            >i {
                margin-right: 8px;
            }

            &:hover {
                cursor: pointer;
                color: $iconBlue;
                font-weight: bold;
            }
        }
    }
}

.LoadingContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    > div {
        z-index: 999;
    }
    > i {
        z-index: 1000;
    }
    .blurDiv {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(67, 82, 102, 0.7);
        filter: blur(5px);
    }
}

.emptyResult {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 300px;
}

.newAntdBase {
    color: $primaryBlue!important;
    background-color: $mainDeepBlue!important;
}

:global(.ant-cascader-picker ) {
    @extend .newAntdBase;
    border: 1px solid $primaryBlue!important;
    border-radius: 16px!important;
}

:global(.ant-cascader-input)  {
    @extend .newAntdBase;
    border: none!important;
    height: 28px!important;
}

:global(.ant-cascader-menu-item) {
    color: $mainDeepBlue;
}

:global(.ant-cascader-menu-item-active) {
    @extend .newAntdBase;
}

:global(.ant-cascader-picker-label) {
    color: $primaryBlue!important;
}