:global {
    .ant-tooltip-inner {
        background-color: #2a273a!important;
        border-radius: 10px!important;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.7)!important;
    }

    .ant-tooltip-arrow {
        border-width: 0!important;
    }
}
