.container {
    width: 70%;
    height: 100%;
    margin: 0 auto;
    box-shadow: 0 1px 5px rgba(148, 210, 238, 0.7);
    min-height: 50rem;

    .btns {
        text-align: right;
        > span {
            display: inline-block;
            vertical-align: top;
            width: 7rem;
            margin-right: 15px;
            text-align: center;
            padding: 0.1rem;
            border-radius: 16px;
            cursor: pointer;
        }
        > a {
            @extend span;
            color: white;
        }
        > .willAdd {
            box-shadow: 0 0 48px inset rgba(33, 154, 246, 0.38), 0 0 6px rgba(33, 154, 246, 0.5);
            border: 1px solid #148de9;
        }
        > .normal {
            background: linear-gradient(to right, #3698ff, #3ae3ff);
            border: 1px solid #148de9;
        }
    }

    .table {
        > ul {
            margin-top: 2.5rem;
            display: inline-block;
            width: 40%;
            padding-left: 5%;
            > li {
                margin-bottom: 0.8rem;
                > span {
                    margin-left: 1.3rem;
                }
            }
            &:last-child {
                margin-left: 20%;
            }
        }
    }
    .news {
        > ul {
            display: row;
            flex-direction: column;
            > li {
                margin-bottom: 0.8rem;
                > span {
                    margin-left: 1.3rem;
                }
            }
            &:last-child {
                margin-left: 20%;
            }
        }
    }
    .issued {
        padding-left: 5%;
        padding-right: 5%;
        margin-top: 2.5rem;
    }
    .title {
        padding: 1.5rem;
        font-size: 1.2rem;
        font-weight: 600;
        text-align: center;
        background: rgba(60, 129, 189, 0.21);
    }
    .text {
        padding-left: 5%;
        padding-right: 5%;
        margin-top: 2.5rem;
        text-indent: 2em;
    }
}
