.root {
    display: inline-block;

    .sortIte {
        padding: 0 4px;
        color: #3697ff;
        background: #060d3f;
        border: 1px solid #3697ff;
        cursor: pointer;
        transition: all .3s;

        &:hover {
            color: #060d3f;
            background: #3697ff;
        }

        &:first-of-type {
            padding-left: 10px;
            border-right: 0;
            border-radius: 11px 0 0 11px;
        }

        &:last-of-type {
            padding-right: 10px;
            border-left: 0;
            border-radius: 0 11px 11px 0;
        }
    }

    .active {
        color: #060d3f;
        background: #3697ff;
    }
}
