
.container {

    .sortBox {
        position: absolute;
        top: 25px;
        right: 24px;
    }

    .echartWarp {
        height: calc(100% - 2.75rem);
        overflow-y: auto;

        &::-webkit-scrollbar {
            width: 4px;
            background: transparent;
        }
        &::-webkit-scrollbar-thumb {
            background: rgba(13, 41, 90, 0.8);
        }
    }
}
