.provinceContainer {
    height: 100%;
    color: #fff;

    .l_box {
        float: left;
        width: 30%;
        height: 100%;
    }

    .m_box {
        position: relative;
        float: left;
        width: 47%;
        height: 100%;

        .back {
            position: absolute;
            top: 10px;
            left: 0;
            cursor: pointer;
            z-index: 100;
        }

        .monthPicker {
            position: absolute;
            top: 10px;
            left: 65px;
            z-index: 100;
        }
    }

    .r_box {
        float: right;
        width: 23%;
        height: 100%;
    }
}
