.container {
    padding-right: 17px;
    color: #fff;
    padding-bottom: 1rem;
    .title {
        display: inline-block;
        padding-right: 4rem;
        font-size: 1.15rem;
        color: #fff;
        line-height: 2.5rem;
        border-bottom: 1px solid #fff;
    }
    .treebox {
        position: relative;
        width: 100%;
        min-height: 300px;
    }
    .tree {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: 1;
    }
    .items_box {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: 2;
    }
    .gwy {
        position: absolute;
        left: 30px;
        z-index: 3;
        transition: top .1s linear;
        animation: fadeOut 1s linear forwards;
    }
    @keyframes fadeOut {
        0% {
            opacity: 0;
        }
        40% {
            opacity: .2;
        }
        100% {
            opacity: 1;
        }
    }
    .common {
        position: absolute;
        min-width: 170px;
        height: 170px;
        padding: 25px;
        left: 260px;
        background: url(./images/left_top.png) no-repeat, url(./images/right_bottom.png) no-repeat;
        background-position: top left, bottom right;
    }
    .inner {
        position: relative;
        width: 100%;
        height: 100%;
        min-width: 120px;
        border-radius: 5px;
        background: #081750;
        box-shadow: 0 0 20px 1px #3ab0ff;
        overflow: hidden;
    }
    .close {
        position: absolute;
        right: 0;
        top: 0;
        width: 20px;
        height: 20px;
        font-size: 20px;
        text-align: center;
        cursor: pointer;
        color: #31bfe8;
        line-height: 20px;
        &:hover {
            color: #36d2ff;
        }
    }
    .spread {
        position: absolute;
        width: 20px;
        height: 26px;
        right: 0;
        top: 50%;
        margin-top: -13px;
        text-align: center;
        cursor: pointer;
        line-height: 1;

        i {
            display: inline-block;
            font-size: 26px;
            color: #36d2ff;
        }
        i#fuck {
            margin-top: -3px;
        }
    }
    .right {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;
        width: 1099px;
        height: 100%;
        padding: 1rem 1.5rem;
        border-left: 1px solid #394573;
        float: left;
        .control {
            cursor: pointer;
            user-select: none;
            &:hover {
                color: #36d2ff;
            }
        }
    }
    .left {
        width: 120px;
        height: 100%;
        float: left;
    }
    .province {
        margin: 0;
        text-align: center;
        cursor: pointer;
        &:hover{
            color: #36d2ff
        }
    }
    .cities {
        margin-right: 2rem;
        span {
            display: inline-block;
            margin: 0 5px;
        }
    }
    .filter {
        position: absolute;
        display: flex;
        height: 50px;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
        width: 500px;
        right: 6.5rem;
        top: 0;
    }
    .area {
        display: inline-block;
        width: 170px;
        height: 36px;
        margin-left: 10px;
        float: left;
        .add {
            position: relative;
            width: 100%;
            height: 36px;
            border: 1px solid #09d6eb;
            border-radius: 18px;
            text-align: center;
            line-height: 36px;
            cursor: pointer;
            .chooseBtn {
                display: inline-block;
                width: 100%;
                height: 100%;
                text-align: center;
            }
            .saveArea, .spreadArea {
                position: absolute;
                top: 34px;
                left: 0;
                width: 200px;
                height: auto;
                border: 1px solid #09d6eb;
                z-index: 100;
                background: #0c1c3e;
                max-height: 200px;
                font-size: 14px;
                text-align: left;
                overflow-y: scroll;
                padding: 5px;
                margin: 0;
                &::-webkit-scrollbar {
                    width: 4px;
                    background: transparent;
                }
                &::-webkit-scrollbar-thumb {
                    background: #868e9f;
                }
                li {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: flex-start;
                    padding: 0 5px;
                    cursor: pointer;
                    color: #fff;
                    span {

                        padding: 2px 5px;
                    }
                    b {
                        position: relative;
                        display: inline-block;
                        width: 12px;
                        height: 12px;
                        cursor: pointer;
                        border: 1px solid #fff;
                        margin-right: 5px;
                    }
                }
                li.checked {
                    color: #3ae3ff;
                    b{
                        border-color: #3ae3ff;
                        &:after {
                            content: '';
                            position: absolute;
                            width: 20px;
                            height: 20px;
                            left: -5px;
                            top: -7px;
                            background: url(./images/confirm.png) center center no-repeat;
                            background-size: contain;
                        }
                    }
                }
            }
            .spreadArea {
                left: 199px;
            }
            .leave {
                position: absolute;
                width: 400px;
                height: 5px;
                left: 0;
                top: 235px;
                z-index: 100;
            }
        }
    }
    .dateBox {
        display: inline-block;
        margin-left: 50px;
    }
    :global(.ant-input) {
        background-color: transparent;
        border: 1px solid #09d6eb;
        height: 34px;
        border-radius: 17px;
        padding-left: 20px;
        color: #fff;
    }
}
@media screen and (max-width: 1559px) {
    .container {
       .right {
           width: 750px;
       }
    }
}