.container {
    &:after {
        display: block;
        clear: both;
        visibility: hidden;
        overflow: hidden;
        content: ".";
    }
    width: 70%;
    height: 100%;
    padding: 1rem 2rem;
    margin: 0 auto;
    box-shadow: 0 1px 5px rgba(148, 210, 238, 0.7);
    .selector {
        min-width: 1000px;
        > div {
            display: inline-block;
            width: 40%;
            margin-top: 1.5rem;
            height: 2.2rem;
            line-height: 2.2rem;
            &:nth-child(1n) {
                float: left;
            }
            &:nth-child(2n) {
                float: right;
            }

            > .text {
                float: right;
                margin-left: 1rem;
                width: 80%;
                height: 2.2rem;
                background-color: rgba(60, 94, 124, 0.3);
                box-shadow: 0 0 6px rgba(33, 154, 246, 0.5);
                border: 1px solid #148de9;
                border-radius: 20px;
                input {
                    text-indent: 2%;
                    border: none;
                    outline: none;
                    background-color: transparent;
                    height: 100%;
                    width: 90%;
                }
            }
            > .slc {
                position: relative;
            }
            > .date {
                float: right;
                margin-left: 1rem;
                width: 80%;
                height: 2.2rem;
                text-indent: 2%;

                > .divSelect {
                    width: 45%;
                    height: 2.2rem;
                    background-color: rgba(60, 94, 124, 0.3);
                    box-shadow: 0 0 6px rgba(33, 154, 246, 0.5);
                    border: 1px solid #297ab6;
                    border-radius: 20px;
                    &:nth-child(1n) {
                        float: left;
                    }
                    &:nth-child(2n) {
                        float: right;
                    }
                    // 修改antd的颜色
                    input {
                        border: none !important;
                        outline: none;
                        background-color: transparent;
                        width: 90%;
                        color: white !important;
                    }
                    span::after {
                        color: white;
                    }
                }
            }
            > .button {
                text-align: right;
                > span {
                    cursor: pointer;
                    color: black;
                    padding: 0.2rem 1.7rem;
                    border-radius: 18px;
                    background-color: #3697ff;
                    &:first-child {
                        margin-right: 15%;
                    }
                }
            }
        }
    }

    .list {
        clear: both;
        > .order {
            text-align: right;
            margin-top: 15px;
            > .button {
                margin-left: 1em;
                padding: 0.2rem 0.6rem 0 0.6em;
                cursor: pointer;
            }
            > .active {
                color: black;
                border-radius: 18px;
                background-color: #3697ff;
            }
        }
    }

    .news {
        > ul {
            > .newsList {
                margin-top: 2rem;
                &:nth-child(1) {
                    margin-top: 0.2rem;
                }
                > .searchInfo {
                    color: rgb(122, 124, 128);
                    padding-bottom: 1em;
                }
                > div > .searchNo {
                    float: left;
                }
                > div > .searchSendDate {
                    margin-left: 1em;
                    float: right;
                }
                > div > .searchMakeDate {
                    float: right;
                }
                > span {
                    float: right;
                }
            }
        }

        a {
            display: inline-block;
            width: 70%;
            color: #fff;
            &:hover {
                color: #3697ff;
            }
        }
    }

    .select {
        text-indent: 2%;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        color: #fff;
        :global(.ant-select-selection) {
            background-color: transparent;
            border: none !important;
            height: 100%;
            border-radius: 20px;
        }
        :global(.ant-select-selection-selected-value) {
            margin-left: -10px;
            margin-top: 0px;
            width: 100%;
        }
    }
}
.searchNum {
    padding-left: 0.2em;
    padding-right: 0.2em;
    color: #00ccff;
}
.page {
    padding-top: 1rem;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}
.loading {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    align-items: center;
    position: absolute;
    justify-content: center;
}
