@import '../../../../assets/Colors/colors.scss';

.container {
    display: inline-block;
    position: relative;
    &:hover {
        cursor: pointer;
    }
    .normalSize {
        width: 200px;
        > span {
            width: 200px;
        }
    }
    .smallSize {
        width: 150px;
        > span {
            width: 150px;
        }
    }
    .contentContainer {
        height: 28px;
        display: flex;
        align-items: center;
        padding: 3px 12px;
        border-radius: 14px;
        border: 1px solid $primaryBlue;
        color: $primaryBlue;
        background-color: $mainDeepBlue;
        &:after {
            content: '';
            display: inline-block;
            background-image: url('../../image/arrow.png');
            background-size: 20px 20px;
            width: 20px;
            height: 20px;
            position: relative;
            transition: all .3s;
        }
    }
    .labeContainer {
        &:after {
            transform: rotate(180deg);
        }
    }

    > ul {
        position: absolute;
        height: 0;
        width: 100%;
        transition: all .3s;
        background-color: rgba(255, 255, 255, .95);
        border: 1px solid $primaryBlue;
        box-shadow: 0 0 5px $primaryBlue;
        border-radius: 4px;
        z-index: 99;
        overflow: scroll;
        li {
            padding: 3px 12px;
            height: 30px;
            color: $mainDeepBlue;
            &:hover {
                color: $primaryBlue;
                background-color: $mainDeepBlue;
            }
        }
    }
}
