.blockTitle {
    padding-left: 14px;
    height: 28px;
    line-height: 28px;
    font-size: 14px;
    font-weight: 600;
    color: #00abbd;
    user-select: none;

    img {
        vertical-align: sub;
        display: inline-block;
        margin-right: 9px;
        height: 16px;
    }
}
