.container {
    padding: 1.5rem 1.3rem;
    .btns {
        text-align: right;
        > span {
            display: inline-block;
            vertical-align: top;
            width: 7rem;
            margin-right: 15px;
            text-align: center;
            padding: 0.1rem;
            border-radius: 16px;
            cursor: pointer;
        }
        > a {
            @extend span;
            color: white;
        }
        > .willAdd {
            box-shadow: 0 0 48px inset rgba(33, 154, 246, 0.38), 0 0 6px rgba(33, 154, 246, 0.5);
            border: 1px solid #148de9;
        }
        > .normal {
            background: linear-gradient(to right, #3698ff, #3ae3ff);
            border: 1px solid #148de9;
        }
    }

    .table {
        > ul {
            margin-top: 2.5rem;
            display: inline-block;
            width: 40%;
            padding-left: 5%;
            > li {
                margin-bottom: 0.8rem;
                > span {
                    margin-left: 1.3rem;
                }
            }
            &:last-child {
                margin-left: 20%;
            }
        }
    }
}
