.container {
    border: 1px solid #1499a8;
    //box-shadow:0 0 1rem rgba(20, 153, 168, .3) inset;
    padding-top: 0.6rem;
    display: flex;
    flex-flow: column;

    .content {
        flex: 1;
        display: flex;
        flex-flow: column;
        padding: 0 1.3rem 0.6rem 1.3rem;

        > div {
            flex: 1;
        }
    }
}

.head {
    display: flex;
    margin-bottom: 0.6rem;
    padding: 0 1.3rem;
}

.title {
    height: 24px;
    line-height: 24px;
    font-size: 20px;
    color: #54b3f5;
}
.line {
    display: inline-block;
    width: 4px;
    height: 100%;
    background-color: #54b3f5;
    margin-right: 10px;
    vertical-align: top;
}

.subTitle {
    flex-grow: 1;
}

.tool {
    text-align: right;

    img {
        cursor: pointer;
        width: 1.4rem;
        height: 1.4rem;
    }
}
.footer {
}
