@import '../../../../assets/Colors/colors.scss';

.container {
    display: inline-block;
    width: 18px;
    height: 18px;
    &:hover {
        cursor: pointer;
    }
}

.unCheckedBtn {
    border: 1px solid #fff;
}

.checkedBtn {
    border: 1px solid $iconBlue;
    background-size: 16px 22px;
    background-position: 0 -3px;
    background-image: url('../../image/confirm.png');
}
