.container {
    display: inline-block;

    input {
        background: url("./images/datapicker.png") no-repeat right top;
        background-size: 14% 100%;
        border: 1px solid #e0e7ed;
    }

    .tr {
        text-align: center;

        button {
            width: 42px;
            height: 28px;
            color: #fff;
            background: #428bca;
            border-radius: 2px;
        }
    }
}
