@import '../../../../assets/Colors/colors.scss';

.container {
    display: inline-block;
    button {
        outline: none;
        font-size: 15px;
        border-radius: 15px;
        border: 1px solid $primaryBlue;
        &:hover {
            transition: all .3s;
            cursor: pointer;
        }
    }
    .primaryBtn {
        background-color: $primaryBlue;
        color: $mainDeepBlue;
        &:hover {
            background-color: $primaryBlueHover;
        }
    }
    .ghostBtn {
        background-color: transparent;
        color: $primaryBlue;
        &:hover {
            background-color: $primaryBlue;
            color: $mainDeepBlue;
        }
    }
    .normalBtn {
        padding: 2px 15px;
        width: 65px;
    }
    .largeBtn {
        padding: 2px 20px;
        width: 115px;
    }
    .megaBtn {
        padding: 2px 20px;
        width: 132px;
    }
    .noWidthBtn {
        padding: 2px 15px;
    }
}
