@import '../../../assets/Colors/colors.scss';

.container {
    padding: 10px 10px;
    color: #fff;
    height: 100%;
    display: flex;
    .leftSide {
        width: 70%;
        .topChartContainer {
            width: 100%;
            height: 340px;
            padding: 6px 8px;
            margin-bottom: 8px;
            > div:last-child {
                width: 100%;
                height: 300px;
            }
        }
        .bottomChartsContainer {
            display: flex;
            flex-direction: column;
            padding: 0 10px;
            > div {
                height: 250px;
                margin-top: 15px;
                display: flex;
                justify-content: space-between;
            }
        }
    }
    .rightSide {
        width: 30%;
        ul {
            li {
                display: flex;
                justify-content: space-between;
                align-items: center;
                color: #fff;
                span {
                    font-size: 14px;
                    height: calc((100vh - 60px)/19);
                    line-height: calc((100vh - 60px)/19);
                }
                span:first-child {
                    display: inline-block;
                    width: 70%;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
                &:hover {
                    cursor: pointer;
                }
            }
        }
        .topRightTitle {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 4px auto;
        }
    }
}

.titleContainer {
    border-bottom: 2px solid #fff;
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    margin-right: 80px;
    margin-bottom: 25px;
}

.CustomChartContainer {
    height: 100%;
    flex: 1;
    .chartTextContainer {
        display: flex;
        height: 80%;
        > aside {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 80px;
            > p {
                padding: 0;
                margin: 0;
            }
            > span:nth-child(2) {
               font-size: 28px;
               font-weight: bold;
               margin-bottom: 20px;
            }
            > span:last-child {
                font-weight: bold;
            }
        }
        > div {
            flex: 1;
        }
    }
}
.seperateChart {
    margin-right: 60px;
}

.positiveScore {
    color: $scorePurple;
}

.negativeScore {
    color: $iconBlue;
}