.containers {
    color: #b0e425;
    height: 100%;
    font-size: 18px;

    table {
        width: 100%;
        // height: 100%;
    }

    thead {
        background: rgba(55, 55, 55, 0.3);
        color: #52dccf;
        font-weight: 300;
        height: 40px;
        line-height: 40px;
    }

    tbody {
        font-weight: 300;
        transition: height .5s;
    }

    tbody:nth-child(even) {

        tr {
            height: 50px;
            line-height: 50px;
        }
    }

    tbody:nth-child(odd) {
        background: rgba(55, 55, 55, 0.3);

        tr {
            height: 40px;
            line-height: 40px;
        }
    }

    .scroll {
        overflow-y: auto;
        overflow-x: hidden;
        height: 100%;
        position: relative;

        .loading {
            position: absolute;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, .1);
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .detail {
        border: 1px solid #2F6890;
        background: #222736 !important;
    }

    th {
        position: relative;
    }

    th, td {
        padding: 0 5px;
    }

    .selector {
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        background: #1D2335;
        white-space: nowrap;
        border: 1px solid #2F6890;
        color: #fff;
        max-height: 122px;
        overflow-y: auto;

        li {
            padding: 0 5px;
        }

        li.active {
            color: #6CC2AC;
        }
    }
}
