$marginBottom: 2.2rem;

.container {
    padding: 0rem 2rem 2rem 0;
    min-height: 50rem;
    .content {
        padding: 0 8rem;
        > :nth-child(1n) {
            margin-bottom: $marginBottom;
        }
    }
    .search {
        height: 2.2rem;
        line-height: 2rem;
        > div {
            display: inline-block;
            height: 2.2rem;
            box-shadow: 0 0 6px rgba(33, 154, 246, 0.5);
            border: 1px solid #297ab6;
            border-radius: 20px;
            width: 95%;
            margin-left: 15px;
            padding-left: 15px;
        }
        input {
            border: none;
            outline: none;
            background-color: transparent;
            width: 90%;
        }
        img {
            float: right;
            margin-top: 3px;
            margin-right: 12px;
            cursor: pointer;
        }
    }
    .title {
        line-height: 2rem;
        font-weight: 700;
        font-size: 1rem;
        width: 12.5rem;
        color: #38a9f4;
        border-bottom: 1px solid #868e9f;
    }
    .list {
        > :nth-child(1n) {
            margin-top: 1.3rem;
        }
        a {
            font-size: 1rem;
            display: inline-block;
            width: 55%;
            color: #fff;
            &:hover {
                color: #3697ff;
            }
        }
        .info {
            width: 45%;
            float: right;
            text-align: right;
            .time {
                font-size: 1rem;
                margin-left: 13%;
                float: left;
            }
            .btn {
                cursor: pointer;
                font-size: 1rem;
                padding: 0.2rem 0.7rem;
                border-radius: 18px;
                color: #3697ff;
                margin-right: 5%;
                border: 1px solid #148de9;
                &:last-child {
                    margin-right: 0;
                }
            }
            .bettle {
                cursor: pointer;
                font-size: 1rem;
                padding: 0.2rem 0.7rem;
                border-radius: 18px;
                color: #ffffff;
                background: #3698ff;
                margin-right: 5%;
                border: 1px solid #148de9;
            }
        }
    }
    .page {
        display: flex;
        flex-direction: row-reverse;
    }

    .addSpill {
        .leftTopPic {
            position: absolute;
            left: -26px;
            top: -26px;
        }
        .buttonRightPic {
            position: absolute;
            bottom: -25px;
            right: -25px;
        }
        margin-top: 50px;
        padding-left: 20px;
        padding-right: 20px;
        > p {
            margin-top: 30px;
            padding-left: 20px;
            padding-right: 10px;
        }
        > .button {
            height: 1.6rem;
            line-height: 1.6rem;
            width: 30%;
            margin: 0 auto;
            border-radius: 16px;
            margin-top: 30px;
            font-weight: 600;
            text-align: center;
            cursor: pointer;
            background: #3698ff;
            > a {
                color: white;
            }
        }
    }
    .loading {
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        background: rgba(0, 0, 0, 0.5);
        align-items: center;
        position: absolute;
        justify-content: center;
    }
}
