.modals{
  :global{
    .ant-modal-content{
      border: 1px solid rgba(57,232,252,0.7);
      background-color:#1d417a ;
      position: relative;
    }
    .ant-modal-close{
      color: rgb(57, 232, 252);
    }
  }
}

.similary{
  margin: 6px 0 20px 0;
  color: #ffffff;
}

.similary,.bili{
  text-align: center;
}

.bili{
  font-size: 50px;
  color: #36D2FF;
  font-weight: bold;
}

.lt{
  position: absolute;
  top: -23px;
  left: -24px;
  width: 100px;
}

.rb{
  position: absolute;
  bottom: -20px;
  right: -21px;
  width: 59px
}