#home-page {
    background: #0b3b5e;
    background: url("./images/bg_big.png") no-repeat;
    background-size: 100% 100%;
}
.children {
    //width: 1200px;
    margin: 0 auto;
    min-height: calc(100vh - 4.6rem);
    // background: url("./images/bbg.png") no-repeat;
    background-size: 100% 100%;
}
