.box {
    position: relative;
    padding: 10px;
    height: 100%;
    &::before {
        content: "";
        position: absolute;
        top: 5px;
        left: 2px;
        width: 71px;
        height: 34px;
        background: url("../../static/images/left-top.png") no-repeat 50% 50%;
        background-size: 135% 200%;
    }
    &::after {
        content: "";
        position: absolute;
        right: 3px;
        bottom: 9px;
        width: 36px;
        height: 46px;
        background: url("../../static/images/button-right.png") no-repeat 50% 50%;
        background-size: 170% 200%;
    }

    > div {
        height: 100%;
        padding: 1%;
        background-color: rgba(13, 41, 90, .6);
        border-radius: 3px;
        box-shadow: 0 0 12px 1px #154e67;
        border: 1px solid #154e67;
    }
}
